@charset "utf-8";


.box::after{
			content: ''; clear:  both; display: block;
		}
		.inner-box{
			float: left; width: 50%; height: 50%; background: red;
		}
		.inner-box:nth-child(2){
			background: blue;
		}
		@media screen and(max-width:900px){
			.inner-box{
				width:100%;
			}
		}